.App {
  text-align: center;
}

form {
  background-color: rgb(113, 55, 13);
  display: inline-block;
}

form label{
  display: inline-block;
  width: 150px;
}

form div{
  margin: 15px;
}

.profilephoto{
  width: 150px;
  border:2px solid black;
}
.navigation{
  display: flex;
  justify-content: space-evenly;
  background-color: burlywood;
  font-size: 45px;
}
